<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ssssssnake Milkersssss</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Snake Milker Central</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="./about/about.html">About</a></li>
          <li><a href="./history/history.html">History</a></li>
          <li><a href="./snakeStats/snakeStats.html">Stats</a></li>
          <li>
            <a href="./topSnakeMilkers/topSnakeMilkers.html">Snake Milkers</a>
          </li>
          <li><a href="./milkGear/milkGear.html">Gear</a></li>
          <li><a href="./contact/index.html">Contact</a></li>
          <li><a href="./companies/index.html">Companies</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2 style="text-align: center; font-size: 35px">
        THE DEADLIEST JOB IN AMERICA
      </h2>
      <p style="text-align: center; font-size: 20px">
        A seemingly random job with an even randomer name, there's more than
        meets the eye with this profession.
      </p>

      <div class="homeImgWrap">
        <div class="homeImg img1"></div>
        <div class="homeImg img2"></div>
        <div class="homeImg img3"></div>
      </div>
    </main>
    <footer>
      <p>They did WHAT to a snake?</p>
    </footer>
  </body>
</html>
