<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ssssssnake Milkersssss</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Snake Central!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="./history/history.html">History</a></li>
                <li><a href="./snakeStats/snakeStats.html">Stats</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Page Content</h2>
        <p>This is where the main content of the page will go.</p>
    </main>
    <footer>
        <p>They did WHAT to a snake?</p>
    </footer>
</body>
</html>