<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ssssssnake Milkersssss</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Snake Statistics</h1>
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../about/about.html">About</a></li>
          <li><a href="../history/history.html">History</a></li>
          <li><a href="../snakeStats/snakeStats.html">Stats</a></li>
          <li>
            <a href="../topSnakeMilkers/topSnakeMilkers.html">Snake Milkers</a>
          </li>
          <li><a href="../milkGear/milkGear.html">Gear</a></li>
          <li><a href="../contact/index.html">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Ssssnake Ssssstatisssticsssss</h2>
      <p>The DEADLIEST snakes this side of the Milky Way.</p>
      <div id="snakeContainer"></div>
      <button id="openModalBtn">Add a Snake</button>

      <!-- Create Snake Modal -->
      <div id="snakeModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Add a New Snake</h2>
          <form id="snakeForm">
            <label for="name">Snake Name</label>
            <br />
            <input type="text" id="name" placeholder="Snake Name" required /><br />
            <label for="species">Species</label>
            <br />
            <input type="text" id="species" placeholder="Species" required /><br />
            <label for="venom">Type of Venom</label>
            <br />
            <input type="text" id="venom" placeholder="Type of Venom" required /><br />
            <label for="danger">Danger Level</label>
            <br />
            <input type="text" id="danger" placeholder="Danger Level" required /><br /><br />
            <button class="addSnake" type="submit">Add Snake</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <p>They did <i>WHAT</i> to a snake?</p>
    </footer>
    <script src="../../js/snakeStats.js"></script>
  </body>
</html>
