<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ssssssnake Milkersssss</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h1>About Snake Milking</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../about/about.html">About</a></li>
                <li><a href="../history/history.html">History</a></li>
                <li><a href="../snakeStats/snakeStats.html">Stats</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="pageContent">
            <h2>Page Content</h2>
        <p>This is where the main content of the page will go.</p>
        <div class="snakeContainer">
            
        </div>
        </div>
        
    </main>
    <footer>
        <p>They did WHAT to a snake?</p>
    </footer>
    <script src="../../js/snakeStats.js"></script>
</body>
</html>