<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ssssssnake Milkersssss</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h1>About Snake Milking</h1>
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../about/about.html">About</a></li>
          <li><a href="../history/history.html">History</a></li>
          <li><a href="../snakeStats/snakeStats.html">Stats</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="pageContent">
        <img
          src="../../assets/img/about/snakeMilking.jpg"
          alt="About Snake Milking"
        />
        <h2>What is Snake Milking?</h2>
        <p>
          Snake milking is the process of extracting venom from snakes and other
          venomous reptiles. This venom is then used in medical research and
          production of anti-venoms.
        </p>
        <p>
          Snake milking leads to life-saving innovations in the research of new
          medicines and treatments. Venom has been attributed with assisting the
          development of treatments for blood clots, high blood pressure, and
          heart attack risk.
        </p>
        <img
          src="../../assets/img/about/anotherSnake.jpg"
          alt="Who are Snake Milkers?"
        />
        <h2>Who are Snake Milkers?</h2>
        <p>
          Snake Milkers are herpetologists (zoologists that study reptiles and
          amphibians). They are highly specialized, and train for many years to
          handle sensitive animals in delicate situations.
        </p>
        <p>
          It's not all milk and danger though. Snake Milkers are also
          responsible for calibrating and maintaining laboratories, cataloging
          and storing venom samples, and caring for snakes and other specimens
          in their care.
        </p>
        <div class="snakeContainer"></div>
      </div>

      <h3>Sources:</h3>
      <ol>
        <li>
          <a
            href="https://www.environmentalscience.org/career/snake-milker"
            target="_blank"
            >EnvironmentalScience.org - "What Is a Snake Milker?"</a
          >
        </li>
        <li>
          <a
            href="https://www.environmentalscience.org/career/herpetologist"
            target="_blank"
            >EnvironmentalScience.org - "What is a Herpetologist?"</a
          >
        </li>
      </ol>
    </main>
    <footer>
      <p>They did WHAT to a snake?</p>
    </footer>
    <script src="../../js/snakeStats.js"></script>
  </body>
</html>
